.board {
    display: flex;
    flex-wrap: wrap;
    height: 300px;
    width: 300px;
    border: 1px solid black;
}

.board > div {
    width: 100px;
    height: 100px;
    padding: 0 10px;
    box-sizing: border-box;
    line-height: 100px;
    text-align: center;
    font-size: 20px;
    min-width: 0;
    text-overflow: ellipsis;
    overflow: hidden;
    border: 1px solid black;
    cursor: pointer;
}

.board > div:disabled {
    cursor: auto;
}